@using RZA_AR.Models
@page "/Hotel_tickets"
@rendermode InteractiveServer

<h3>Book Zoo Tickets Here</h3>

<div>
    <label>Adult Ticket: </label>
    <label>$32.99   </label>
    <button @oneclick=testbutton>-</button>
    <button @oneclick=testbutton>+</button>
</div>

<div>
    <label>Child Ticket: </label>
    <label>$27.99   </label>
    <button @oneclick=testbutton>-</button>
    <button @oneclick=testbutton>+</button>
</div>

<div>
    <label>Student/Senior Ticket: </label>
    <label>$31.99   </label>
    <button @oneclick=testbutton>-</button>
    <button @oneclick=testbutton>+</button>
</div>

<div>
    <label>Under 3 Ticket: </label>
    <label>*FREE*   </label>
    <button @oneclick=testbutton>-</button>
    <button @oneclick=testbutton>+</button>
</div>

<div>
    <button @oneclick=testbutton>Checkout</button>
</div>

@code {
    private Customer customer = new Customer();

    private async Task testbutton()
    {
        Console.WriteLine(customer.Username);
        Console.WriteLine(customer.Password);
        Console.WriteLine(customer.Firstname);
        Console.WriteLine(customer.Lastname);
        Console.WriteLine(customer.Email);
    }

}