@page "/Login"
@using RZA_AR.Models
@using RZA_AR.utilities
@using RZA_AR.Services
@rendermode InteractiveServer
@inject RZA_AR.Services.CustomerService CustomerService
@inject NavigationManager NavigationManager
@inject UserSession UserSession

<h3>Login</h3>

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username</label>
        <InputText @bind-Value="newCustomer.Username" />
    </div>

    <div>
        <label>Password</label>
        <InputText @bind-Value="password" type="password" />
    </div>

    <button type="submit">Log In</button>
</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;

    private async Task HandleValidSubmit()
    {
        newCustomer = await CustomerService.LogIn(newCustomer);
        if (newCustomer == null)
        {
            Console.WriteLine("could not log in");
        }
        else
        {
            UserSession.UserId = newCustomer.CustomerId;
            NavigationManager.NavigateTo("/account");
        }
    }
}