@page "/Login"
@using RZA_AR.Models
@rendermode InteractiveServer
<h3>Login</h3>

<div class="Login-page">
    <h3 class="Login-title">Login: <i class="bi bi-paw-fill"></i></h3>
    <div class="login-container">
        <img src="https://images.pexels.com/photos/2937067/pexels-photo-2937067.jpeg?auto=compress&cs=tinysrgb&w=400" alt="butterfly" class="background-image">
        <div class="form overlay">
            <div class="from group">
                <label>Username</label>
                <input type="text" @bind=customer.Username>
            </div>

            <div class="from group">
                <label>Password</label>
                <input type="text" @bind=customer.Password>
            </div>

            <button class="login-button" @onclick=@testbutton>
                Login <i class="bi bi-arrow-right-circle"></i>
            </button>
        </div>
    </div>
</div>


<style>
    .Login-page {
        font-family: Arial, sans-serif;
        color: white;
        text-align: left;
        padding: 20px;
        background-color: #a7cc4b;
    }

    .Login-title {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .login-container {
        position: relative;
        max-width: 800px;
        margin: auto;
        background-color: #a7cc4b;
        border-radius: 15px;
        overflow: hidden;
    }

    .background-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .form-overlay {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(0, 70, 0, 0.6); /*Dark green with transparency */
        padding: 20px;
        border-radius: 10px;
        width: 250px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .login-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #005f20; /* Dark green */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

        .login-button i {
            margin-left: 5px;
        }
</style>


@code {
    private Customer customer = new Customer();
    private async Task testbutton()
    {
        Console.WriteLine(customer.Username);
        Console.WriteLine(customer.Password);
        Console.WriteLine("Button was clicked");
    }
}