@using RZA_AR.Models
@page "/Zoo_Tickets"
@rendermode InteractiveServer



<div class="tickets-page">
    <h3 class="tickets-title">Book Zoo Tickets: <i class="bi bi-paw-fill"></i></h3>
    <div class="tickets-container">
        <img src="https://uhdwallpapers.org/uploads/converted/18/03/21/wild-giraffe-in-african-safari-2048x2048_64898-mt-90.webp" alt="giraffe image" class="background-image">
        <div class="form-overlay">
            <div group>

            </div>
        </div>
    </div>
</div>

<style>
    .tickets-page {
        font-family: Arial, sans-serif;
        color: white;
        text-align: left;
        padding: 20px;
        background-color: #a7cc4b;
    }

    .tickets-title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 50px;
    }

    .tickets-container {
        position: relative;
        max-width: 800px;
        margin: auto;
        background-color: #a7cc4b;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .background-image {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 0 15px 15px 0;
    }

    .form-overlay {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(0, 70, 0, 0.6); /* Dark green with transparency */
        padding: 20px;
        border-radius: 10px;
        width: 250px; /* Adjust to fit the content without taking up too much space */
    }

    .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .form-group label {
         color: white;
    }

    .checkout-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #005f20; /* Dark green */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .checkout-button:hover {
            background-color: #004014; /* Darker green on hover */
        }
</style>

@code {
    private Customer customer = new Customer();
    }
}